$primary-black: #000;
$primary-tntOrange: #ff6400;
$primary-white: #fff;
$secondary-tntGrey: #ddd;
$secondary-tntViolet: #6400ff;
$secondary-tntBlue: #0064ff;
$secondary-tntMagenta: #ff0064;
$secondary-tntGreen: #00ff64;

html[data-theme="dark"] {
  --main-text: #{$primary-white};
  --main-background: #{$primary-black};
  --secondary-surfaces: #{$secondary-tntGrey};
}

html[data-theme="gray"] {
  --main-text: #{$primary-black};
  --main-background: #{$secondary-tntGrey};
  --secondary-surfaces: #{$primary-white};
}
