---
import Divider from "../Divider.astro";

type Props = {
  cover?: string;
};

const { cover } = Astro.props;
---

<header class="article-header">
  <div class="content">
    <slot />
    <Divider />
    <!-- TODO: Trusted by here -->
  </div>
  {cover !== undefined && <img src={cover} />}
</header>

<style lang="scss">
  .article-header {
    --top-space: 200px;
    box-sizing: border-box;
    padding-top: calc(200px);
    padding-bottom: var(--spacing-xl);
    position: relative;
    z-index: 10;
    overflow: hidden;
    .content {
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-l);

      h1 {
        @include typography(main-header);
      }

      & > p {
        @include typography(sub-header);
      }
    }
    & > img {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
</style>
