---
interface Props {
  title: string;
  bookUrl: string;
}

const { title, bookUrl } = Astro.props;
---

<div class="project">
  <div class="content"><p>{title}</p></div>
  <div class="book">
    <a href={bookUrl}>Book a Call</a>
  </div>

  <style lang="scss">
    @use "@/styles/helpers" as *;

    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 280px;
      box-sizing: border-box;
      border-radius: var(--spacing-s);
      background: var(--secondary-surfaces);

      .content {
        @include typography(sub-header);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
      }

      .book {
        @include typography(paragraph);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-m) var(--spacing-xl);
        box-sizing: border-box;
        color: var(--tnt-orange);
        border-top: 1px solid var(--tnt-orange);
      }
    }
  </style>
</div>
