---
import Coder from "./Coder.astro";
---

<div class="coders">
  <Coder
    name="Kamil Chudy"
    description="Seasoned solution architect, cycling addict (5+ bikes) and father. Guarding teonite coding standards and quality."
    photoUrl="/images/people/kamil.jpg"
    ghUrl="https://github.com"
  />

  <Coder
    name="Jacek Chmielewski"
    description="Digital nomad, coding from his camper van (if not paragliding). Specialty: Machine Learning and R&D. DefGuard contributor and Rust advocate."
    photoUrl="/images/people/jacek.jpg"
    ghUrl="https://github.com"
  />

  <Coder
    name="Adam Ciarciński"
    description="Geek. 20+ years of experience in coding (low level, high level, medium level... ) BSD contributor and linux expert."
    photoUrl="/images/people/adam.jpg"
    ghUrl="https://github.com"
  />

  <Coder
    name="Maciej Wójcik"
    description="Chief Architect at teonite, software engineer, team leader and avid problem solver. Builds technological foundations using bleeding edge technologies."
    photoUrl="/images/people/maciej.jpg"
    ghUrl="https://github.com"
  />

  <Coder
    name="Aleksander Trzepizur"
    description="Chief Architect at teonite, software engineer, team leader and avid problem solver. Builds technological foundations using bleeding edge technologies."
    photoUrl="/svg/tntBox.svg"
    ghUrl="https://github.com"
  />

  <Coder
    name="Filip Ślęzak"
    description="Chief Architect at teonite, software engineer, team leader and avid problem solver. Builds technological foundations using bleeding edge technologies."
    photoUrl="/svg/tntBox.svg"
    ghUrl="https://github.com"
  />
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .coders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 23px;
    justify-content: center;

    @include media-breakpoint-down(md) {
          grid-template-columns: none;
    }
  }
</style>
