---
interface Props {
  name: string;
  description: string;
  photoUrl?: string;
  ghUrl: string;
}

const { name, description, photoUrl = "/svg/tntBox.svg", ghUrl } = Astro.props;
---

<div class="coder">
  <img src={photoUrl} />
  <div class="name">{name}</div>
  <div class="description">{description}</div>
  <div class="gh-icon">
    <a href={ghUrl}>
      <img src="/svg/github-icon.svg" />
    </a>
  </div>
</div>

<style lang="scss">
  .coder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    padding: 0px var(--spacing-s);
    color: var(--main-text);
    border-left: 1px solid var(--main-text);
    gap: var(--spacing-s);
    text-wrap: wrap;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      max-width: none;
    }

    & > img {
      --dimention: 256px;
      width: 100%;
      min-height: var(--dimention);
      max-width: var(--dimention);
      border-radius: var(--spacing-xs);
    }

    & > .name {
      @include typography(paragraph);
    }

    & > .description {
      @include typography(label);
    }
  }
</style>
