---
interface Props {
  name: string;
  description: string;
  photoUrl?: string;
  ghUrl: string;
}

const { name, description, photoUrl = "/svg/tntBox.svg", ghUrl } = Astro.props;
---

<div class="coder">
  <div class="photo">
    <img src={photoUrl} />
  </div>
  <div class="name">{name}</div>
  <div class="description">{description}</div>
  <div class="gh-icon">
    <a href={ghUrl}>
      <img src="/svg/github-icon.svg" />
    </a>
  </div>
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .coder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px var(--spacing-s, 20px);
    border-left: 1px solid var(--main-text, #fff);
    width: 100%;
    max-width: 457px;
    gap: var(--spacing-s, 20px);
    overflow: hidden;
    text-wrap: wrap;

    .photo {
      width: 256px;
      height: 256px;
      img {
        border-radius: var(--spacing-xs, 8px);
      }
    }

    .name {
      @include typography(paragraph);
    }

    .description {
      @include typography(label);
    }
  }
</style>
