---
import Coder from "./Coder.astro";
---

<div class="coders">
  <Coder
    name="Kamil Chudy"
    description="Seasoned solution architect, cycling addict (5+ bikes) and father. Guarding teonite coding standards and quality."
    photoUrl="/images/people/kamil.webp"
    ghUrl="https://github.com/kchudy"
  />

  <Coder
    name="Jacek Chmielewski"
    description="Digital nomad, coding from his camper van (if not paragliding). Specialty: Machine Learning and R&D. DefGuard contributor and Rust advocate."
    photoUrl="/images/people/jacek.webp"
    ghUrl="https://github.com/j-chmielewski"
  />

  <Coder
    name="Adam Ciarciński"
    description="Geek. 20+ years of experience in coding (low level, high level, medium level... ) BSD contributor and linux expert."
    photoUrl="/images/people/adam.webp"
    ghUrl="https://github.com/moubctez"
  />

  <Coder
    name="Maciej Wójcik"
    description="Versatile software developer, proficient in Rust and Python, among other languages. In his spare time, he builds and experiments with a home lab, exploring cutting-edge technologies."
    photoUrl="/images/people/maciej.webp"
    ghUrl="https://github.com/wojcik91"
  />

  <Coder
    name="Aleksander Trzepizur"
    description="Highly skilled and ambitious coder with a passion for innovation, actively contributing to the Open Source DefGuard platform. Driven by a desire to make a meaningful impact, he consistently delivers high-quality code"
    photoUrl="/svg/tntBox.svg"
    ghUrl="https://github.com/t-aleksander"
  />

  <Coder
    name="Filip Ślęzak"
    description="Senior full-stack developer with deep Web Technology Expertise and opinionated approach to Web Frameworks"
    photoUrl="/svg/tntBox.svg"
    ghUrl="https://github.com/filipslezaklab"
  />
</div>

<style lang="scss">
  .coders {
    --col-count: 1;
    --col-size: 1fr;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--col-count), var(--col-size));
    row-gap: var(--spacing-m);
    justify-content: space-between;

    @include b-up(md) {
      --col-count: 2;
      --col-size: minmax(300px, 457px);
    }

    @include b-up(lg) {
      --col-count: 2;
    }

    @include b-up(xxl) {
      --col-count: 3;
    }
  }
</style>
