---
import Manager from "./Manager.astro";
---

<div class="managers">
  <Manager
    name="Robert Olejnik"
    role="Security & Infrastructure"
    photoUrl="/images/people/robert.jpg"
    ghUrl="https://github.com/teon"
    liUrl="https://linkedin.com/in/robertolejnik/"
  />
  <Manager
    name="Michał Gryczka"
    role="Analysis & Data"
    photoUrl="/images/people/michal.jpg"
    ghUrl="https://github.com/mike767"
    liUrl="https://linkedin.com/in/michalgryczka/"
  />
  <Manager
    name="Przemysław Sinkiewicz"
    role="Product & Management"
    photoUrl="/images/people/przemek.jpg"
    ghUrl="https://github.com/przemyslaw"
    liUrl="https://linkedin.comin/przemysław-sinkiewicz-05172414/"
  />
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .managers {
    display: flex;
    justify-content: center;
    gap: var(--spacing-l);
    width: 100%;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
</style>
