---
import Manager from "./Manager.astro";
---

<div class="managers">
  <Manager
    name="Robert Olejnik"
    role="Security & Infrastructure"
    photoUrl="/images/people/robert.png"
    ghUrl="https://github.com"
    liUrl="https://linkedin.com"
  />
  <Manager
    name="Michał Gryczka"
    role="Analysis & Data"
    photoUrl="/images/people/michal.png"
    ghUrl="https://github.com"
    liUrl="https://linkedin.com"
  />
  <Manager
    name="Przemysław Sinkiewicz"
    role="Product & Management"
    photoUrl="/images/people/przemek.png"
    ghUrl="https://github.com"
    liUrl="https://linkedin.com"
  />
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .managers {
    display: flex;
    justify-content: center;
    gap: var(--spacing-l, 48px);
    width: 100%;

    font-family: "PP Neue Machina";
    font-style: normal;
    font-weight: 400;
  }
</style>
