---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div class="project">
  <h3>{title}</h3>
  <p>{content}</p>
  <div class="links">
    <slot />
  </div>
</div>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 740px;
    min-height: 280px;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--spacing-s);
    background: var(--secondary-surfaces);
    text-wrap: wrap;
    padding: var(--spacing-m);

    & > h1 {
      @include typography(paragraph);
    }

    & > p {
      @include typography(label);
    }

    & > .links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 10px;
    }
  }
</style>
