---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div class="project">
  <h1>{title}</h1>
  <p>{content}</p>
  <div class="links">
    <slot />
  </div>
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 740px;
    min-height: 420px;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--spacing-S, 20px);
    background: var(--secondary-surfaces);
    text-wrap: wrap;
    padding: var(--spacing-M, 32px);

    h1 {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 3.2px;
    }

    p {
      font-size: 20px;
      letter-spacing: 2px;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 10px;
    }
  }
</style>
