@use "../base/fonts";

html {
  font-family: "PP Neue Machina";
}


main {
  font-family: "PP Neue Machina", serif;
}


:root {
  --sl-color-bg-sidebar: #DDD !important;
  --sl-color-bg-nav: #DDD !important;
}

.page {
  &>.header {
    &>.header {
      .site-title {
        img {
          max-height: 34px;
        }

        span {
          display: none;
        }
      }

      // Hide theme picker
      :nth-child(3) {
        display: none;
      }
    }
  }
}
