/* Dark mode colors. */
:root {
  --nav-factor: 2.0;
  --nav-pad-factor: 2.0;
  --sl-nav-height: calc(4rem * var(--nav-factor));
  --sl-nav-pad-x: calc(1.5rem * var(--nav-pad-factor));
  --sl-nav-pad-y: calc(0.75rem * var(--nav-pad-factor));
  --sl-font: "PP Neue Machina", serif;
  --sl-color-accent-low: #FF6400;
  --sl-color-accent: #FF6400;
  --sl-color-accent-high: #FF6400;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #000;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #FF6400;
  --sl-color-accent: #FF6400;
  --sl-color-accent-high: #FF6400;
  --sl-color-white: #000;
  --sl-color-gray-1: #000;
  --sl-color-gray-2: #000;
  --sl-color-gray-3: #000;
  --sl-color-gray-4: #000;
  --sl-color-gray-5: #fff;
  --sl-color-gray-6: #fff;
  --sl-color-gray-7: #fff;
  --sl-color-black: #fff;
}
