---
import Divider from "../../components/Divider.astro";
import PageLink from "../../components/PageLink.astro";
import DarkLayout from "../../layouts/DarkLayout.astro";
---

<DarkLayout>
  <header>
    <h1>Blog</h1>
  </header>
  <Divider />

  <section id="blog-posts">
    <div class="blog-posts-wrapper">
      <a href="/blog/rust-web-development">
        <h3>Rust web developemnt best practices</h3>
      </a>
      <div class="blog-post">
        <div class="left">
          <img
            src="/images/blog/building-ai.jpg"
            alt="Protecting your organization's data in the AI age Cover art"
          />
        </div>
        <div class="right">
          <p>
            Rust has emerged as a popular language for web development due to its unique combination of performance, safety, and reliability. To harness the full potential of Rust for web applications, it's essential to adhere to specific best practices.
          </p>
          <div class="bottom">
            <PageLink href="/blog/rust-web-development" text="Read more" />
          </div>
        </div>
      </div>

      <Divider />

  <section id="blog-posts">
    <div class="blog-posts-wrapper">
      <a href="/blog/choosing-the-right-llm">
        <h3>Choosing the Right LLM for a Production-Grade Solution</h3>
      </a>
      <div class="blog-post">
        <div class="left">
          <img
            src="/images/blog/LLM-pills.jpg"
            alt="Protecting your organization's data in the AI age Cover art"
          />
        </div>
        <div class="right">
          <p>
            Selecting the optimal LLM for production involves balancing costs related to
            infrastructure, energy, maintenance, and licensing against the model's
            performance, accuracy, and adaptability.
          </p>
          <div class="bottom">
            <PageLink href="/blog/choosing-the-right-llm" text="Read more" />
          </div>
        </div>
      </div>

      <Divider />

      <div class="blog-posts-wrapper">
        <a href="/blog/protecting-organization-data-from-ai">
          <h3>Protecting your organization's data in the AI age</h3>
        </a>
        <div class="blog-post">
          <div class="left">
            <img
              src="/images/blog/protect-from-ai.jpg"
              alt="Protecting your organization's data in the AI age Cover art"
            />
          </div>
          <div class="right">
            <p>
              AI is here to stay and AI tools are great for business when used
              consciously. But it seems that this is not common knowledge and there is a
              lack of awareness among business people.
            </p>
            <div class="bottom">
              <PageLink
                href="/blog/protecting-organization-data-from-ai"
                text="Read more"
              />
            </div>
          </div>
        </div>
        <Divider />
        <div class="blog-posts-wrapper">
          <a href="/blog/windows-codesign-certum-hsm">
            <h3>Secure Tauri/Windows Code Signing with Certum HSM</h3>
          </a>
          <div class="blog-post">
            <div class="left">
              <img
                src="/images/blog/signature.jpg"
                alt="Secure Tauri/Windows Code Signing with Certum HSM Cover art"
              />
            </div>
            <div class="right">
              <p>
                One of our products — Defguard & WireGuard Desktop Client has multiple
                platform releases (Linux, MacOS, and Windows). We're building it with our
                beloved Rust and a great multi-platform desktop framework Tauri.
              </p>
              <div class="bottom">
                <PageLink href="/blog/windows-codesign-certum-hsm" text="Read more" />
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/technology-radar">
              <h3>Navigating the Tech Landscape</h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img
                  src="/images/blog/navigating.jpg"
                  alt="Navigating the Tech Cover art"
                />
              </div>
              <div class="right">
                <p>
                  In the fast-paced world of technology, staying ahead of the curve is not
                  just a competitive advantage but a necessity. As a technical leader,
                  you're undoubtedly aware of the challenges in keeping your team informed
                  about the latest tools, platforms, and trends. This is where the concept
                  of a Technology Radar comes into play.
                </p>
                <div class="bottom">
                  <PageLink href="/blog/technology-radar" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/delusion-of-value">
              <h3>Delusion of Value</h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img src="/images/blog/delusion.jpg" alt="Delusion of Value Cover art" />
              </div>
              <div class="right">
                <p>
                  Human nature often leans toward pretension and ego. We have a tendency
                  to perceive ourselves through the distorted reflections of status,
                  unaware that we are like figures in a funhouse mirror — a narrative as
                  ancient as our existence. Our societal validation often hinges on
                  materialistic possessions rather than profound ideas. We tend to
                  overlook the wisdom encapsulated in the saying "Clothes don't make the
                  man".
                </p>
                <div class="bottom">
                  <PageLink href="/blog/delusion-of-value" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/creating-products">
              <h3>
                Insights into Collaborating with a Software House for Product Development
              </h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img
                  src="/images/blog/product-studio.jpg"
                  alt="Delusion of Value Cover art"
                />
              </div>
              <div class="right">
                <p>
                  In this article we explore the nuances of selecting the optimal product
                  development approach, emphasizing the essential traits to seek for a
                  successful product development journey. A perspective shared by of
                  seasoned expert, leading development teams for 20 years at companies
                  like Allegro, home.pl and Shoper.
                </p>
                <div class="bottom">
                  <PageLink href="/blog/creating-products" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/scalable_ai_products">
              <h3>Building AI products for scale</h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img
                  src="/images/blog/building-ai.jpg"
                  alt="Building AI products for scale Cover art"
                />
              </div>
              <div class="right">
                <p>
                  The world of AI and image processing is rapidly evolving and staying
                  ahead of the curve requires keen insight into the latest technologies
                  and strategies. This post delves into various aspects of building an
                  Deep Image AI — image processing product, focusing on infrastructure,
                  image resolution, speed, scalability, storage management, quality
                  control, and dataset management. Deep Image serves over a million image
                  processing requests yearly.
                </p>
                <div class="bottom">
                  <PageLink href="/blog/scalable_ai_products" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/enterprise-secure-source-code-validation">
              <h3>Enterprise & Secure Source Code Validation</h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img
                  src="/images/blog/casper-validation.jpg"
                  alt="Enterprise & Secure Source Code Validation Cover art"
                />
              </div>
              <div class="right">
                <p>
                  Together with Casper Network, we're enhancing blockchain accessibility
                  for enterprises by ensuring the security of decentralized application
                  source code.
                </p>
                <div class="bottom">
                  <PageLink
                    href="/blog/enterprise-secure-source-code-validation"
                    text="Read more"
                  />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/home-pl-partnership">
              <h3>
                Strategic Partnership in the Mobile & Security Infrastructure with home.pl
              </h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img src="/images/blog/home.jpg" alt="Strategic Partnership Cover art" />
              </div>
              <div class="right">
                <p>
                  teonite, a deep tech studio specializing in building mission-critical
                  systems with a focus on security, is thrilled to announce its
                  partnership with home.pl, a renowned leader in the Polish domain,
                  hosting, and eCommerce infrastructure market for over 25 years.
                </p>
                <div class="bottom">
                  <PageLink href="/blog/home-pl-partnership" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
          <div class="blog-posts-wrapper">
            <a href="/blog/defguard">
              <h3>
                Open Source VPN & SSO - truly private security paltform defguard released by teonite
              </h3>
            </a>
            <div class="blog-post">
              <div class="left">
                <img src="/images/blog/42.jpg" alt="42nd birthday Cover art" />
              </div>
              <div class="right">
                <p>
                  Defguard offers a unique combination of security-related functionalities
                  from identity management (OpenID/OAuth2/LDAP) to VPN (Wireguard) to
                  other features (Multi-Factor Authentication, Yubikey provisioning, Web3,
                  Webhooks, etc.). It doesn’t matter if you are looking for an on-premise
                  security infrastructure for your home, a small office, or a large
                  enterprise – most likely Defguard has all the features you need and is
                  very easy to set up. It also has a great and clean UI that business
                  owners can and like to use (not only admins).
                </p>
                <div class="bottom">
                  <PageLink href="/blog/defguard" text="Read more" />
                </div>
              </div>
            </div>
          </div>
          <Divider />
        </div>
      </div>

      <style lang="scss" is:global>
        main {
          h1 {
            @include typography(main-header);
            color: var(--main-text);
            line-height: 1.15;
          }

          header {
            display: flex;
            flex-flow: column;
            gap: var(--spacing-m);
            padding-top: var(--spacing-xl);

            @include b-up(xl) {
              flex-flow: row wrap;
              align-items: center;
              justify-content: flex-start;
            }

            & > a {
              display: block;
              @include b-up(xl) {
                margin-left: auto;
              }
            }
          }
          & > header {
            display: flex;
            flex-flow: column;
            gap: var(--spacing-m);
            padding-top: var(--spacing-xl);

            @include b-up(xl) {
              flex-flow: row wrap;
            }

            & > a {
              display: block;
              @include b-up(xl) {
                margin-left: auto;
              }
            }
          }
        }

        #blog-posts {
          display: flex;
          flex-flow: column;
          row-gap: var(--spacing-xl);
          padding-top: var(--spacing-xll);

          & > h2 {
            @include typography(section-title);
            color: var(--main-text);
            line-height: 1.5;
          }

          .blog-posts-wrapper {
            width: 100%;
            display: flex;
            flex-flow: column;
            row-gap: 48px;

            & > a > h3 {
              grid-row: 1;
              grid-column: 1 / 2;
              @include typography(sub-header);
              color: var(--main-text);
            }

            & > .blog-post {
              display: grid;
              width: 100%;
              column-gap: 30px;
              align-items: start;
              justify-content: start;
              grid-template-rows: auto auto;
              grid-template-columns: 1fr;

              @include media-breakpoint-down(lg) {
                row-gap: var(--spacing-xl);
              }

              @include b-up(lg) {
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr;
              }

              & > .left {
                grid-row: 1;
                grid-column: 1 / 2;
                @include b-up(lg) {
                  grid-row: 1;
                  grid-column: 1 / 2;
                }

                p {
                  @include typography(paragraph);
                  color: var(--main-text);
                }

                img {
                  width: 100%;
                  height: auto;
                  object-fit: cover;
                }
              }

              & > .right {
                display: flex;
                flex-flow: column;
                row-gap: var(--spacing-s);

                grid-row: 2;
                grid-column: 1 / 2;

                @include b-up(lg) {
                  grid-row: 1;
                  grid-column: 2 / 3;
                }

                p,
                li {
                  @include typography(label);
                  color: var(--main-text);
                }

                ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  padding-left: 20px;

                  li {
                    position: relative;
                    &::before {
                      content: "\2022";
                      display: block;
                      position: absolute;
                      left: -20px;
                      top: 0;
                    }
                  }
                }

                & > .bottom {
                  display: flex;
                  flex-flow: row nowrap;
                  align-items: center;
                  justify-content: flex-end;
                  width: 100%;
                  user-select: none;
                  padding-top: 20px;
                }
              }
            }
          }
        }
      </style>
    </div>
  </section></DarkLayout
>
