---
import Book from "../../components/Book.astro";
import Divider from "../../components/Divider.astro";
import PageLink from "../../components/PageLink.astro";
import DarkLayout from "../../layouts/DarkLayout.astro";

// meta open graph tags
const meta = {
  title: "teonite - services",
  description: "Deeptech studio crafting mission-critical software",
  image: "github.com/teonite/teonite.github.io/raw/main/public/images/pages/home/teonite.png"
};
---

<DarkLayout meta={meta}>
  <header>
    <h1>Our Services</h1>
    <Book />
  </header>
  <Divider />
  <section id="services">
    
    <div class="service-wrapper" id="rustDevelopment">
      <a href="/services/rust">
        <h3>Rust Development</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            We help tech leader to build secure and scalable systems by leveraging Rust language superpowers.
          </p>
        </div>
        <div class="right">
          <p>
            We believe in Open Source. Our code is available on GitHub. Go and check it.
          </p>
          <div class="bottom">
            <PageLink href="/services/rust" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

  
    <div class="service-wrapper" id="softwareengineering">
      <a href="/services/engineering/">
        <h3>Backend Development</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            All things server-side. From simple Rust, Python and Go backend modules to complex microservice architectures provisioned using Kubernetes and deployed on AWS or on-premmise. Tailored to your specyfic needs and goals.
          </p>
        </div>
        <div class="right">
          <p>What do you get from it?</p>
          <ul>
            <li>
              Using best in class backend technologies : Python, Rust and Go
            </li>
            <li>
              Optimised Database performance
            </li>
            <li>
              Provisioning using simple Docker files or more elaborate Kubernetes.
            </li>
            <li>
              Integrations (Rust, grpc) and API highr performance develpment 
            </li>
            <li>
              Battaries included - observability, end2end tests and documentation.
            </li>
          </ul>
          <div class="bottom">
            <PageLink href="/services/engineering/" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="rustDevelopment">
      <a href="/services/rust">
        <h3>Web Applications Development</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            Service tailored for Product Owners and Product Managers who need guarantee that theis vision will be understood and executed flawlessly.
          </p>
        </div>
        <div class="right">
          <p>
            Full-stack development including:
            <ul>
              <li>Database design and engineering</li>
              <li>Backend development with Python, Rust or Go</li>
              <li>Frontend development with Java Script/Type Script and React.js</li>
              <li>UI/UX design</li>
              <li>Requirements Management and senior Product Owner Supervison</li>
            </ul>
          </p>
          <div class="bottom">
            <PageLink href="/services/rust" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="rustDevelopment">
      <a href="/services/rust">
        <h3>DevOps & Cloud</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            We build tailored environments for your systems using Docker and Kubernetes. 
          </p>
        </div>
        <div class="right">
          <p>
            Cloud environemnt setup using:
            <ul>
              <li>On-premise custom infrastructure</li>
              <li>AWS or Google Cloud</li>
              <li>Fouces on security and reliability</li>
              <li>Protected by Open Source SSO & VPN</li>
            </ul>
          </p>
          <div class="bottom">
            <PageLink href="/services/rust" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="designdiscovery">
      <a href="/services/discovery">
        <h3>Solutions Design & Specification</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            We help Product Owners and Product Managers to create valuable and precise software solution speficication through our prooven process of requirements disccovery and efficient design processes.
          </p>
        </div>
        <div class="right">
          <p>
            Our Software Solution Specyfications typically contain:
            <ul>
              <li>high-level business goals</li>
              <li>product/system actors description</li>
              <li>system boundaries and responsibilities</li>
            <li>risk factors Analysis</li>
          <li> project size assessment (cost category)</li>
          <li>crew composition models for various scenarios
              </li>
            </ul>
          </p>
          <div class="bottom">
            <PageLink href="/services/discovery" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="uiux">
      <a href="/services/uiux/">
        <h3>UI/UX & Branding</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            Combining UI/UX and artistic expertise we craft bespoke experiences that
            enhance brand identity through compelling visuals. We specialize in creating
            user-centric solutions that elevate your brand's impact.
          </p>
        </div>
        <div class="right">
          <p>
            We are dedicated to craft intuitive and visually stunning user experiences. We
            have successfully served clients across various industries, ranging from
            start—ups to Fortune 500 companies.
          </p>
          <p>
            We deliver any possible scope of design challenges. From mock—ups and UI
            design to extensive branding of your product. Our design process incorporates
            five essential components:
          </p>
          <ul>
            <li>Comprehensive Analysis</li>
            <li>User—Centric Design Approach</li>
            <li>Engaging Visual Design</li>
            <li>Prototyping and Testing</li>
            <li>Seamless Handoff</li>
          </ul>
          <div class="bottom">
            <PageLink href="/services/uiux/" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="rd">
      <a href="/services/rd/">
        <h3>Research &amp; Development</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            Innovative projects that challenge the status quo require a unique and
            flexible process that encourages exploration and effectively manages risks.
          </p>
        </div>
        <div class="right">
          <p>
            Innovative projects are often based on invalidated assumptions and hypotheses.
            Once solved they bring a lot of value. But they also pose a lot of
            technological risks.
          </p>
          <p>
            We help you execute R&amp;D projects with our custom process focused on
            exploration, risk management and prototyping.
          </p>
          <div class="bottom">
            <PageLink href="/services/rd/" />
          </div>
        </div>
      </div>
      <Divider />
    </div>

    <div class="service-wrapper" id="duediligence">
      <a href="/services/diligence/">
        <h3>Project Audit & Due Diligence</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            Tailored technological due diligence services to maximize the value of your
            investments with informed decisions based on thorough assessments.
          </p>
        </div>
        <div class="right">
          <p>
            Our expertise in conducting thorough assessments will help you make informed
            decisions and maximize the value of your technological investments.
          </p>
          <ul>
            <li>Business</li>
            <li>Team</li>
            <li>Processes</li>
            <li>Technology</li>
          </ul>
          <div class="bottom">
            <PageLink href="/services/diligence/" />
          </div>
        </div>
      </div>
      <Divider />
    </div>
 
    <!-- <div class="service-wrapper" id="venture">
      <a href="/services/venture/">
        <h3>Venture Building</h3>
      </a>
      <div class="service">
        <div class="left">
          <p>
            We invest in deeptech products in pre-seed and seed stages with cash & equity
            model.
          </p>
        </div>
        <div class="right">
          <p>
            With nearly 15 years of experience working with founders and building over 10
            product companies, we have gained valuable insights into the critical
            processes of bootstrapping businesses in their early stages.
          </p>
          <p>
            We have also gained key insights into team and product development. Using this
            experience and our verified and well-established processes, we invest in
            deeptech products on pre-seed and seed stage.
          </p>
          <div class="bottom">
            <PageLink href="/services/venture/" />
          </div>
        </div>
      </div>
    </div> -->
  </section>
</DarkLayout>

<style lang="scss" is:global>
  main {
    h1 {
      @include typography(main-header);
      color: var(--main-text);
      line-height: 1.15;
    }

    header {
      display: flex;
      flex-flow: column;
      gap: var(--spacing-m);
      padding-top: var(--spacing-xl);

      @include b-up(xl) {
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
      }

      & > a {
        display: block;
        @include b-up(xl) {
          margin-left: auto;
        }
      }
    }
    & > header {
      display: flex;
      flex-flow: column;
      gap: var(--spacing-m);
      padding-top: var(--spacing-xl);

      @include b-up(xl) {
        flex-flow: row wrap;
      }

      & > a {
        display: block;
        @include b-up(xl) {
          margin-left: auto;
        }
      }
    }
  }

  #services {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-xl);
    padding-top: var(--spacing-xll);

    & > h2 {
      @include typography(section-title);
      color: var(--main-text);
      line-height: 1.5;
    }

    .service-wrapper {
      width: 100%;
      display: flex;
      flex-flow: column;
      row-gap: 48px;

      h3 {
        @include typography(sub-header);
        color: var(--main-text);
      }

      & > h3 {
        grid-row: 1;
        grid-column: 1 / 2;
        @include typography(sub-header);
        color: var(--main-text);
      }

      & > .service {
        display: grid;
        width: 100%;
        column-gap: 30px;
        align-items: start;
        justify-content: start;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;

        @include media-breakpoint-down(lg) {
          row-gap: var(--spacing-xl);
        }

        @include b-up(lg) {
          grid-template-rows: auto;
          grid-template-columns: 1fr 1fr;
        }

        & > .left {
          grid-row: 1;
          grid-column: 1 / 2;
          @include b-up(lg) {
            grid-row: 1;
            grid-column: 1 / 2;
          }

          p {
            @include typography(paragraph);
            color: var(--main-text);
          }

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        & > .right {
          display: flex;
          flex-flow: column;
          row-gap: var(--spacing-s);

          grid-row: 2;
          grid-column: 1 / 2;

          @include b-up(lg) {
            grid-row: 1;
            grid-column: 2 / 3;
          }

          p,
          li {
            @include typography(label);
            color: var(--main-text);
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 20px;

            li {
              position: relative;
              &::before {
                content: "\2022";
                display: block;
                position: absolute;
                left: -20px;
                top: 0;
              }
            }
          }

          & > .bottom {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            user-select: none;
          }
        }
      }
    }
  }
</style>
