@charset "UTF-8";
html[data-theme=dark] {
  --main-text: #fff;
  --main-background: #000;
  --secondary-surfaces: #ddd;
}

html[data-theme=gray] {
  --main-text: #000;
  --main-background: #ddd;
  --secondary-surfaces: #fff;
}

@font-face {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.woff2") format("woff2");
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-surfaces);
}

body {
  padding-top: 128px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  box-sizing: border-box;
  padding: 0 64px;
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

#main-background {
  position: absolute;
  top: 0;
  left: 64px;
  width: calc(100% - 128px);
  height: 100%;
  background-color: var(--main-background);
  z-index: 0;
  content: " ";
  display: block;
}

#main-wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

main {
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 64px 0;
  user-select: none;
  background-color: var(--main-text);
}
.divider.vertical {
  width: 1px;
  height: 100%;
  background-color: var(--main-text);
  margin: 0 30px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 128px;
  width: 100%;
  background-color: var(--secondary-surfaces);
  z-index: 10;
  transition-property: top;
  transition-timing-function: ease-in-out;
  transition-delay: 150ms;
}
nav > .nav-wrapper {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-self: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 64px;
}
nav > .nav-wrapper > ul {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  list-style: none;
  column-gap: 32px;
}
@media (min-width: 992px) {
  nav > .nav-wrapper > ul {
    display: flex;
  }
}
nav > .nav-wrapper > ul li,
nav > .nav-wrapper > ul a {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #000;
  user-select: none;
  cursor: pointer;
}
nav > .nav-wrapper > ul a:visited {
  color: #000;
}
nav > .nav-wrapper > ul a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
nav #logo-main {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
nav #mobile-nav-trigger {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: none;
  height: 100%;
  margin-left: auto;
  border: 0 solid transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav #mobile-nav-trigger {
    display: none;
  }
}

#mobile-nav {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 12;
  border: 0 solid transparent;
  background-color: var(--secondary-surfaces);
  box-sizing: border-box;
  padding: 0 32px 32px 32px;
  grid-template-rows: 128px auto;
  grid-template-columns: 1fr;
  row-gap: 64px;
  outline: none;
  display: none;
  opacity: 0;
}
#mobile-nav[open] {
  display: grid;
}
#mobile-nav > .top {
  grid-row: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
#mobile-nav > .top > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 168px;
}
#mobile-nav > .top > a > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
}
#mobile-nav > .top > button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mobile-nav > .top > button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
#mobile-nav > ul {
  grid-row: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 32px;
  width: 100%;
  height: 100%;
}
#mobile-nav > ul li,
#mobile-nav > ul a {
  display: block;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  cursor: pointer;
  color: #000;
}
#mobile-nav > ul li {
  padding: 10px 0;
}
#mobile-nav > ul a:visited {
  color: #000;
}
#mobile-nav > ul a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

footer {
  box-sizing: border-box;
  padding: 128px 64px 192px 64px;
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
footer > .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 202px) 320px;
  gap: 10px;
  justify-content: space-between;
  max-width: 1792px;
  width: 100%;
}
footer > .footer-grid a {
  cursor: pointer;
}
footer > .footer-grid > .logo {
  grid-row: 1;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
}
footer > .footer-grid > .internal, footer > .footer-grid > .external {
  display: flex;
  flex-flow: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}
footer > .footer-grid > .internal li, footer > .footer-grid > .external li {
  width: 100%;
  height: 48px;
}
footer > .footer-grid > .internal li a, footer > .footer-grid > .external li a {
  height: 100%;
  text-decoration: none;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  cursor: pointer;
  color: #000;
}
footer > .footer-grid > .internal li a:visited, footer > .footer-grid > .external li a:visited {
  color: #000;
}
footer > .footer-grid > .internal li a:hover, footer > .footer-grid > .external li a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 8px;
}
footer > .footer-grid > .external a {
  position: relative;
}
footer > .footer-grid > .external a::after {
  position: absolute;
  display: block;
  content: "→";
  top: -20px;
  right: -25px;
  user-select: none;
  transform: scale(0.6) rotate(-45deg);
}
footer > .footer-grid > .contact {
  text-align: right;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
}
footer > .footer-grid > .contact a {
  text-decoration: none;
  color: #000;
}
footer > .footer-grid > .contact a:visited {
  color: #000;
}
footer > .footer-grid > .contact a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

a.page-link {
  display: block;
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 280px;
  box-sizing: border-box;
  padding: 21px 55px 21px 19px;
  user-select: none;
  cursor: pointer;
  border-left: 1px solid var(--main-text);
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text);
}
a.page-link::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  inset: 0;
  width: 1px;
  background-color: var(--main-text);
  user-select: none;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link::after {
  user-select: none;
  content: "→";
  color: var(--main-text);
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(-45deg);
  transition-property: transform, right;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link:hover::before {
  width: 4px;
}
a.page-link:hover::after {
  transform: translateY(-50%) rotate(0deg);
  right: 10px;
}

a.book {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  outline: solid 0px var(--main-text);
  background-color: transparent;
  padding: 32px 64px;
  user-select: none;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
}
a.book:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  outline: solid 2px var(--main-text);
}

#trusted-by {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  overflow: hidden;
  padding: 64px 0;
}
#trusted-by > p {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text);
  padding-right: 10px;
}
#trusted-by > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  height: 100%;
}
#trusted-by > ul > li {
  display: block;
  height: 100%;
  width: 90px;
  overflow: hidden;
}
#trusted-by > ul > li > a {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#trusted-by > ul > li > a img {
  height: auto;
  max-height: 100%;
  width: 90px;
  user-select: none;
}

main {
  box-sizing: border-box;
  padding: 480px 146px 370px 146px;
}
main > h1 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.15;
  font-size: 90px;
  color: var(--main-text);
  letter-spacing: 9px;
}

#our-services {
  display: flex;
  flex-flow: column;
  row-gap: 64px;
  padding-top: 100px;
}
#our-services > h2 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.5;
  color: var(--main-text);
  text-transform: uppercase;
  letter-spacing: 6.4px;
}
#our-services h3 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  color: var(--main-text);
}
#our-services p {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: var(--main-text);
}
#our-services > .items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 64px;
}
#our-services > .items-grid > .grid-item {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}
#our-services > .items-grid > .grid-item > .actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

section > header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
section > header > h2 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.5;
  color: var(--main-text);
  text-transform: uppercase;
  letter-spacing: 6.4px;
}
section > header > a {
  margin-left: auto;
}

#our-work {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  row-gap: 64px;
  padding-top: 64px;
}
#our-work > article {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
#our-work > article > .cover {
  grid-row: 1;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
}
#our-work > article > .cover img {
  position: absolute;
}
#our-work > article > .cover img:nth-child(1) {
  left: -210px;
  top: 0;
  width: calc(100% + 210px);
  height: auto;
  max-height: 720px;
}
#our-work > article > .cover img:nth-child(2) {
  display: none;
}
#our-work > article > .content {
  grid-row: 1;
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  row-gap: 32px;
  width: 100%;
}
#our-work > article > .content h3 {
  text-align: left;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  color: var(--main-text);
  letter-spacing: 4.8px;
  order: 1;
}
#our-work > article > .content p {
  text-align: left;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: var(--main-text);
  letter-spacing: 3.2px;
  order: 2;
}
#our-work > article > .content .actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  order: 3;
}
#our-work > article.odd > .content {
  grid-column: 1/2;
}
#our-work > article.odd > .cover {
  grid-column: 2/3;
}
#our-work > article.odd > .cover img:nth-child(1) {
  top: 0;
  left: unset;
  right: -210px;
}

/*# sourceMappingURL=main.css.map */
