@charset "UTF-8";
.divider {
  display: block;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 64px 0;
  user-select: none;
  background-color: var(--main-text);
}
.divider.vertical {
  width: 1px;
  height: 100%;
  background-color: var(--main-text);
  margin: 0 30px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  inset: 0;
  height: 128px;
  width: 100%;
  background-color: var(--secondary-surfaces);
  z-index: 10;
}
nav #nav-logo {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-left: 64px;
}
nav #nav-hamburger {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: none;
  height: 100%;
  margin-left: auto;
  margin-right: 64px;
  border: 0 solid transparent;
  background-color: transparent;
  padding: 0;
}

footer {
  box-sizing: border-box;
  padding: 128px 64px 192px 64px;
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
footer > .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 202px) 320px;
  gap: 10px;
  justify-content: space-between;
  max-width: 1792px;
  width: 100%;
}
footer > .footer-grid a {
  cursor: pointer;
}
footer > .footer-grid > .logo {
  grid-row: 1;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
}
footer > .footer-grid > .internal, footer > .footer-grid > .external {
  display: flex;
  flex-flow: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}
footer > .footer-grid > .internal li, footer > .footer-grid > .external li {
  width: 100%;
  height: 48px;
}
footer > .footer-grid > .internal li a, footer > .footer-grid > .external li a {
  height: 100%;
  text-decoration: none;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  cursor: pointer;
  color: #000;
}
footer > .footer-grid > .internal li a:hover, footer > .footer-grid > .external li a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 8px;
}
footer > .footer-grid > .external a {
  position: relative;
}
footer > .footer-grid > .external a::after {
  position: absolute;
  display: block;
  content: "→";
  top: -20px;
  right: -25px;
  user-select: none;
  transform: scale(0.6) rotate(-45deg);
}
footer > .footer-grid > .contact {
  text-align: right;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
}
footer > .footer-grid > .contact a {
  text-decoration: none;
  color: #000;
}
footer > .footer-grid > .contact a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

a.page-link {
  display: block;
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 280px;
  box-sizing: border-box;
  padding: 21px 55px 21px 19px;
  user-select: none;
  cursor: pointer;
  border-left: 1px solid var(--main-text);
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text);
}
a.page-link::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  inset: 0;
  width: 1px;
  background-color: var(--main-text);
  user-select: none;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link::after {
  user-select: none;
  content: "→";
  color: var(--main-text);
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(-45deg);
  transition-property: transform, right;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link:hover::before {
  width: 4px;
}
a.page-link:hover::after {
  transform: translateY(-50%) rotate(0deg);
  right: 10px;
}

#trusted-by {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  overflow: hidden;
  padding: 64px 0;
}
#trusted-by > p {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text);
  padding-right: 10px;
}
#trusted-by > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  height: 100%;
}
#trusted-by > ul > li {
  display: block;
  height: 100%;
  width: 90px;
  overflow: hidden;
}
#trusted-by > ul > li > a {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#trusted-by > ul > li > a img {
  height: auto;
  max-height: 100%;
  width: 90px;
  user-select: none;
}

html[data-theme=dark] {
  --main-text: #fff;
  --main-background: #000;
  --secondary-surfaces: #ddd;
}

html[data-theme=gray] {
  --main-text: #000;
  --main-background: #ddd;
  --secondary-surfaces: #fff;
}

@font-face {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.woff2") format("woff2");
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 128px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  box-sizing: border-box;
  padding: 0 64px;
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

#main-background {
  position: absolute;
  top: 0;
  left: 64px;
  width: calc(100% - 128px);
  height: 100%;
  background-color: var(--main-background);
  z-index: 0;
  content: " ";
  display: block;
}

#main-wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

main {
  box-sizing: border-box;
  width: 100%;
}

main {
  box-sizing: border-box;
  padding: 480px 146px 370px 146px;
}
main > h1 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.15;
  font-size: 90px;
  color: var(--main-text);
  letter-spacing: 9px;
}

#products {
  padding-top: 128px;
}
#products h2 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.5;
  color: var(--main-text);
  width: 100%;
  padding-bottom: 64px;
  text-transform: uppercase;
}
#products > .products-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  row-gap: 48px;
  column-gap: 20px;
}
#products > .products-grid > .grid-item {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
#products > .products-grid > .grid-item > .cover {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#products > .products-grid > .grid-item > .cover img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}
#products > .products-grid > .grid-item > .description {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 60px 92px;
  align-items: center;
}
#products > .products-grid > .grid-item > .description > p {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text);
}
#products > .products-grid > .grid-item > .description > .divider {
  margin-left: auto;
}
#products > .products-grid > .grid-item > .description > .logo {
  width: 92px;
  height: auto;
}

/*# sourceMappingURL=products.css.map */
