@charset "UTF-8";
html[data-theme=dark] {
  --main-text: #fff;
  --main-background: #000;
  --secondary-surfaces: #ddd;
}

html[data-theme=gray] {
  --main-text: #000;
  --main-background: #ddd;
  --secondary-surfaces: #fff;
}

html {
  --spacing-xs: 4px;
  --spacing-s: 10px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
}
@media (min-width: 992px) {
  html {
    --spacing-xs: 8px;
    --spacing-s: 20px;
    --spacing-m: 32px;
    --spacing-l: 48px;
    --spacing-xl: 64px;
    --spacing-xxl: 128px;
  }
}

@font-face {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.woff2") format("woff2");
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-surfaces);
}

body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 64px;
}
@media (min-width: 992px) {
  body {
    padding-top: 128px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  box-sizing: border-box;
  padding: 0 var(--spacing-xl);
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

#main-background {
  position: absolute;
  top: 0;
  left: var(--spacing-xl);
  width: calc(100% - var(--spacing-xl) * 2);
  height: 100%;
  background-color: var(--main-background);
  z-index: 0;
  content: " ";
  display: block;
}

#main-wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

main {
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: var(--spacing-xl) 0;
  user-select: none;
  background-color: var(--main-text);
}
.divider.vertical {
  width: 1px;
  height: 100%;
  background-color: var(--main-text);
  margin: 0 8px;
}
@media (min-width: 992px) {
  .divider.vertical {
    margin: 0 30px;
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-surfaces);
  z-index: 10;
  transition-property: top;
  transition-timing-function: ease-in-out;
  transition-delay: 150ms;
  height: 64px;
}
@media (min-width: 992px) {
  nav {
    height: 128px;
  }
}
nav > .nav-wrapper {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-self: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 var(--spacing-xl);
}
nav > .nav-wrapper > ul {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  list-style: none;
  column-gap: 32px;
}
@media (min-width: 992px) {
  nav > .nav-wrapper > ul {
    display: flex;
  }
}
nav > .nav-wrapper > ul li,
nav > .nav-wrapper > ul a {
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 4vw, 24px);
  color: #000;
  user-select: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav > .nav-wrapper > ul li,
  nav > .nav-wrapper > ul a {
    font-size: 32px;
  }
}
nav > .nav-wrapper > ul a:visited {
  color: #000;
}
nav > .nav-wrapper > ul a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
nav #logo-main {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
nav #mobile-nav-trigger {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: none;
  height: 100%;
  margin-left: auto;
  border: 0 solid transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav #mobile-nav-trigger {
    display: none;
  }
}

#mobile-nav {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 12;
  border: 0 solid transparent;
  background-color: var(--secondary-surfaces);
  box-sizing: border-box;
  padding: 0 32px 32px 32px;
  grid-template-rows: 128px auto;
  grid-template-columns: 1fr;
  row-gap: 64px;
  outline: none;
  display: none;
  opacity: 0;
}
#mobile-nav[open] {
  display: grid;
}
#mobile-nav > .top {
  grid-row: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
#mobile-nav > .top > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 168px;
}
#mobile-nav > .top > a > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
}
#mobile-nav > .top > button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mobile-nav > .top > button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
#mobile-nav > ul {
  grid-row: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 32px;
  width: 100%;
  height: 100%;
}
#mobile-nav > ul li,
#mobile-nav > ul a {
  display: block;
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 4vw, 24px);
  cursor: pointer;
  color: #000;
}
@media (min-width: 992px) {
  #mobile-nav > ul li,
  #mobile-nav > ul a {
    font-size: 32px;
  }
}
#mobile-nav > ul li {
  padding: 10px 0;
}
#mobile-nav > ul a:visited {
  color: #000;
}
#mobile-nav > ul a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

footer {
  box-sizing: border-box;
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xl);
}
@media (min-width: 992px) {
  footer {
    padding: 128px var(--spacing-xl) 192px var(--spacing-xl);
  }
}
footer > .footer-grid {
  display: grid;
  justify-content: space-between;
  max-width: calc(1920px - var(--spacing-xl) * 2);
  width: 100%;
  grid-row: auto auto auto;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--spacing-xl);
  column-gap: 10px;
}
@media (min-width: 992px) {
  footer > .footer-grid {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer > .footer-grid {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 200px) 1fr;
  }
}
@media (min-width: 1200px) {
  footer > .footer-grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 202px) 320px;
  }
}
footer > .footer-grid a {
  cursor: pointer;
}
footer > .footer-grid > .logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  grid-row: 1;
  grid-column: 1/3;
  align-items: flex-start;
  align-content: flex-start;
  padding-bottom: 32px;
}
@media (min-width: 992px) {
  footer > .footer-grid > .logo {
    grid-row: 1;
    grid-column: 1/2;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
  }
}
footer > .footer-grid > .internal, footer > .footer-grid > .external {
  display: flex;
  flex-flow: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}
footer > .footer-grid > .internal li, footer > .footer-grid > .external li {
  width: 100%;
  height: 48px;
}
footer > .footer-grid > .internal li a, footer > .footer-grid > .external li a {
  height: 100%;
  text-decoration: none;
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 4vw, 24px);
  cursor: pointer;
  color: #000;
}
@media (min-width: 992px) {
  footer > .footer-grid > .internal li a, footer > .footer-grid > .external li a {
    font-size: 32px;
  }
}
footer > .footer-grid > .internal li a:visited, footer > .footer-grid > .external li a:visited {
  color: #000;
}
footer > .footer-grid > .internal li a:hover, footer > .footer-grid > .external li a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 8px;
}
@media (max-width: 991.98px) {
  footer > .footer-grid > .internal {
    grid-row: 2;
    grid-column: 1/2;
  }
}
@media (min-width: 992px) {
  footer > .footer-grid > .internal {
    grid-row: 1;
    grid-column: 2/3;
  }
}
@media (max-width: 991.98px) {
  footer > .footer-grid > .external {
    grid-row: 3;
    grid-column: 1/2;
  }
}
@media (min-width: 992px) {
  footer > .footer-grid > .external {
    grid-row: 2;
    grid-column: 2/3;
  }
}
@media (min-width: 1200px) {
  footer > .footer-grid > .external {
    grid-row: 1;
    grid-column: 3/4;
  }
}
footer > .footer-grid > .external a {
  position: relative;
}
footer > .footer-grid > .external a::after {
  position: absolute;
  display: block;
  content: "→";
  top: -20px;
  right: -25px;
  user-select: none;
  transform: scale(0.6) rotate(-45deg);
}
footer > .footer-grid > .contact {
  text-align: right;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
@media (max-width: 991.98px) {
  footer > .footer-grid > .contact {
    grid-row: 2/4;
    grid-column: 2/3;
  }
}
@media (min-width: 992px) {
  footer > .footer-grid > .contact {
    font-size: 20px;
    line-height: 1.5;
  }
}
footer > .footer-grid > .contact a {
  text-decoration: none;
  color: #000;
}
footer > .footer-grid > .contact a:visited {
  color: #000;
}
footer > .footer-grid > .contact a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

a.page-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 21px 55px 21px 19px;
  user-select: none;
  cursor: pointer;
  border-left: 1px solid var(--main-text);
  width: 220px;
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text);
}
@media (min-width: 992px) {
  a.page-link {
    width: 280px;
  }
}
@media (min-width: 992px) {
  a.page-link {
    font-size: 20px;
    line-height: 1.5;
  }
}
a.page-link::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  inset: 0;
  width: 1px;
  background-color: var(--main-text);
  user-select: none;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link::after {
  user-select: none;
  content: "→";
  color: var(--main-text);
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-60%) rotate(-45deg);
  transition-property: transform, right;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
a.page-link:hover::before {
  width: 4px;
}
a.page-link:hover::after {
  transform: translateY(-50%) rotate(0deg);
  right: 10px;
}

a.book {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  outline: solid 0px var(--main-text);
  background-color: transparent;
  padding: var(--spacing-m) var(--spacing-xl);
  user-select: none;
  width: max-content;
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 4vw, 24px);
}
@media (min-width: 992px) {
  a.book {
    font-size: 32px;
  }
}
a.book:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  outline: solid 2px var(--main-text);
}

main {
  padding: 230px 146px 146px 146px;
}
main h1 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: clamp(5vw, 10vw, 48px);
  line-height: 1.15;
  color: var(--main-text);
  line-height: 1.15;
}
@media (min-width: 992px) {
  main h1 {
    font-size: 72px;
    line-height: 1.15;
  }
}
@media (min-width: 1200px) {
  main h1 {
    line-height: 1.15;
    font-size: 90px;
  }
}
main > header {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
main > header > a {
  display: block;
  margin-left: auto;
}

#services {
  display: flex;
  flex-flow: column;
  row-gap: 64px;
  padding-top: 128px;
}
#services > h2 {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: clamp(4vw, 8vw, 48px);
  line-height: 1.5;
  color: var(--main-text);
  text-transform: uppercase;
  line-height: 1.5;
}
@media (min-width: 992px) {
  #services > h2 {
    font-size: 64px;
    line-height: 1.5;
  }
}
#services .service-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 48px;
}
#services .service-wrapper > h3 {
  grid-row: 1;
  grid-column: 1/2;
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 6vw, 32px);
  color: var(--main-text);
}
@media (min-width: 992px) {
  #services .service-wrapper > h3 {
    font-size: 48px;
  }
}
#services .service-wrapper > .service {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: start;
  justify-content: start;
}
#services .service-wrapper > .service > .left {
  grid-row: 1;
  grid-column: 1/2;
}
#services .service-wrapper > .service > .left p {
  font-family: "PP Neue Machina";
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(4vw, 4vw, 24px);
  color: var(--main-text);
}
@media (min-width: 992px) {
  #services .service-wrapper > .service > .left p {
    font-size: 32px;
  }
}
#services .service-wrapper > .service > .left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#services .service-wrapper > .service > .right {
  grid-row: 1;
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}
#services .service-wrapper > .service > .right p,
#services .service-wrapper > .service > .right li {
  font-family: "PP Neue Machina";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text);
}
@media (min-width: 992px) {
  #services .service-wrapper > .service > .right p,
  #services .service-wrapper > .service > .right li {
    font-size: 20px;
    line-height: 1.5;
  }
}
#services .service-wrapper > .service > .right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}
#services .service-wrapper > .service > .right ul li {
  position: relative;
}
#services .service-wrapper > .service > .right ul li::before {
  content: "•";
  display: block;
  position: absolute;
  left: -20px;
  top: 0;
}
#services .service-wrapper > .service > .right > .bottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  user-select: none;
}
#services .service-wrapper > .divider {
  width: calc(100% + 80px);
}

/*# sourceMappingURL=services.css.map */
