@use "./helpers/" as *;
@use "./fonts";
@use "./variables";

.hide-scroll {
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-surfaces);
}

body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 64px;

  @include media-breakpoint-up(lg) {
    padding-top: 128px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  box-sizing: border-box;
  padding: 0 var(--spacing-m);
  background-color: var(--secondary-surfaces);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-up(lg) {
    padding: 0 var(--spacing-xl);
  }
}

#main-wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

main {
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--main-text);
  }
}
