@use "../helpers/" as *;
@use "../components/essentials";
@use "../base";

main {
  background-color: var(--main-background);
  & > .cover-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;

    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;

      @include media-breakpoint-up(lg) {
        width: 100%;
        height: auto;
      }
    }
  }
  & > article {
    display: flex;
    flex-flow: column;
    row-gap: 32px;
    background-color: var(--main-background);
    box-sizing: border-box;

    padding: var(--spacing-l) 5px;

    @include media-breakpoint-up(lg) {
      padding: 64px 146px 120px 146px;
    }

    div {
      width: 100%;
    }

    & > header {
      p {
        @include typography(sub-header);
        color: var(--main-text);
      }
    }
    h1 {
      @include typography(main-header);
      color: var(--main-text);
      padding-bottom: 32px;
    }
    h2 {
      @include typography(section-title);
      color: var(--main-text);
      text-transform: uppercase;
    }
    h3 {
      @include typography(sub-header);
      color: var(--main-text);
    }
    p {
      @include typography(paragraph);
      color: var(--main-text);
    }

    a {
      text-decoration: underline;
      text-underline-offset: 8px;
    }

    ul {
      margin-top: 20px;
      padding: 0;
      padding-left: 40px;
      list-style: none;

      @include media-breakpoint-down(lg) {
        margin-left: 10px;
        padding-left: 20px;
      }

      li {
        position: relative;
        @include typography(paragraph);
        color: var(--main-text);

        &::before {
          user-select: none;
          position: absolute;
          top: 0;
          left: -40px;
          content: "\2022";
          color: var(--main-text);

          @include media-breakpoint-down(lg) {
            left: -20px;
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }

    .img-wrapper {
      width: 100%;
      img {
        object-fit: cover;
      }
    }
  }
}
