@use "../helpers/" as *;
@use "../base";
@use "../components/nav";
@use "../components/footer";
@use "../components/divider";

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 64px;
  box-sizing: border-box;
  padding: 432px 64px 128px 64px;

  h1 {
    @include typography(mobile-main-header);
    color: var(--main-text);
  }

  & > .divider.contact {
    width: calc(100% + 64px);
  }

  & > section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 64px;
    column-gap: 10px;

    h2,
    h3 {
      text-align: left;
    }

    h2 {
      grid-row: 1;
      grid-column: 1 / 3;
      @include typography(section-title);
      color: var(--main-text);
      text-transform: uppercase;
    }

    h3 {
      grid-row: 2;
      grid-column: 1 / 2;
      @include typography(sub-header);
      color: var(--main-text);
    }

    & > .contact-info {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      grid-row: 2;
      grid-column: 2/3;
      row-gap: 10px;

      & > * {
        width: 100%;
      }

      p,
      a {
        text-align: left;
        @include typography(paragraph);
        color: var(--main-text);
      }
    }
  }
}
