@use "../base";
@use "../helpers/" as *;
@use "../components/essentials";
@use "../components/trustedby";

main {
  box-sizing: border-box;
  padding: 480px 146px 370px 146px;
  & > h1 {
    @include typography(main-header);
    color: var(--main-text);
    letter-spacing: 9px;
  }
}

#our-services {
  display: flex;
  flex-flow: column;
  row-gap: 64px;
  padding-top: 100px;

  & > h2 {
    @include typography(section-title);
    color: var(--main-text);
    text-transform: uppercase;
    letter-spacing: 6.4px;
  }

  h3 {
    @include typography(sub-header);
    color: var(--main-text);
  }

  p {
    @include typography(paragraph);
    color: var(--main-text);
  }

  & > .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 64px;

    & > .grid-item {
      display: flex;
      flex-flow: column;
      row-gap: 20px;

      & > .actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

section {
  & > header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;

    & > h2 {
      @include typography(section-title);
      color: var(--main-text);
      text-transform: uppercase;
      letter-spacing: 6.4px;
    }

    & > a {
      margin-left: auto;
    }
  }
}

#our-work {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  row-gap: 64px;
  padding-top: 64px;

  & > article {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    & > .cover {
      grid-row: 1;
      grid-column: 1/2;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        position: absolute;
        &:nth-child(1) {
          left: -210px;
          top: 0;
          width: calc(100% + 210px);
          height: auto;
          max-height: 720px;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }

    & > .content {
      grid-row: 1;
      grid-column: 2/3;
      display: flex;
      flex-flow: column;
      row-gap: 32px;
      width: 100%;
      h3 {
        text-align: left;
        @include typography(sub-header);
        color: var(--main-text);
        letter-spacing: 4.8px;
        order: 1;
      }
      p {
        text-align: left;
        @include typography(paragraph);
        color: var(--main-text);
        letter-spacing: 3.2px;
        order: 2;
      }
      .actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 72px;
        order: 3;
      }
    }

    &.odd {
      & > .content {
        grid-column: 1/2;
      }
      & > .cover {
        grid-column: 2/3;
        img {
          &:nth-child(1) {
            top: 0;
            left: unset;
            right: -210px;
          }
        }
      }
    }
  }
}
