@use "../helpers/" as *;
@use "../base";
@use "../components/essentials";

main {
  padding: 50vh 16px 32px 16px;

  @include media-breakpoint-up(lg) {
    padding: 35vh var(--spacing-xl) var(--spacing-xxl) var(--spacing-xl);
  }

  h1 {
    @include typography(main-header);
    color: var(--main-text);
    line-height: 1.15;
  }

  & > header {
    display: flex;
    flex-flow: column;
    gap: var(--spacing-m);
    padding-top: var(--spacing-xl);

    @include media-breakpoint-up(xl) {
      flex-flow: row wrap;
    }

    & > a {
      display: block;
      @include media-breakpoint-up(xl) {
        margin-left: auto;
      }
    }
  }
}

#services {
  display: flex;
  flex-flow: column;
  row-gap: var(--spacing-xl);
  padding-top: var(--spacing-xll);

  & > h2 {
    @include typography(section-title);
    color: var(--main-text);
    text-transform: uppercase;
    line-height: 1.5;
  }

  .service-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 48px;

    & > h3 {
      grid-row: 1;
      grid-column: 1 / 2;
      @include typography(sub-header);
      color: var(--main-text);
    }

    & > .service {
      display: grid;
      width: 100%;
      column-gap: 30px;
      align-items: start;
      justify-content: start;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;

      @include media-breakpoint-down(lg) {
        row-gap: var(--spacing-xl);
      }

      @include media-breakpoint-up(lg) {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }

      & > .left {
        grid-row: 1;
        grid-column: 1 / 2;
        @include media-breakpoint-up(lg) {
          grid-row: 1;
          grid-column: 1 / 2;
        }

        p {
          @include typography(paragraph);
          color: var(--main-text);
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      & > .right {
        display: flex;
        flex-flow: column;
        row-gap: var(--spacing-s);

        grid-row: 2;
        grid-column: 1 / 2;

        @include media-breakpoint-up(lg) {
          grid-row: 1;
          grid-column: 2 / 3;
        }

        p,
        li {
          @include typography(label);
          color: var(--main-text);
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-left: 20px;

          li {
            position: relative;
            &::before {
              content: "\2022";
              display: block;
              position: absolute;
              left: -20px;
              top: 0;
            }
          }
        }

        & > .bottom {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          user-select: none;
        }
      }
    }
  }
}
