@use "../helpers/" as *;
@use "../base";
@use "../components/essentials";

main {
  padding: 230px 146px 146px 146px;

  h1 {
    @include typography(main-header);
    color: var(--main-text);
    line-height: 1.15;
  }

  & > header {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    & > a {
      display: block;
      margin-left: auto;
    }
  }
}

#services {
  display: flex;
  flex-flow: column;
  row-gap: 64px;
  padding-top: 128px;

  & > h2 {
    @include typography(section-title);
    color: var(--main-text);
    text-transform: uppercase;
    line-height: 1.5;
  }

  .service-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 48px;

    & > h3 {
      grid-row: 1;
      grid-column: 1 / 2;
      @include typography(sub-header);
      color: var(--main-text);
    }

    & > .service {
      display: grid;
      width: 100%;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      align-items: start;
      justify-content: start;

      & > .left {
        grid-row: 1;
        grid-column: 1 / 2;

        p {
          @include typography(paragraph);
          color: var(--main-text);
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      & > .right {
        grid-row: 1;
        grid-column: 2 / 3;
        display: flex;
        flex-flow: column;
        row-gap: 20px;

        p,
        li {
          @include typography(label);
          color: var(--main-text);
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-left: 20px;

          li {
            position: relative;
            &::before {
              content: "\2022";
              display: block;
              position: absolute;
              left: -20px;
              top: 0;
            }
          }
        }

        & > .bottom {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          user-select: none;
        }
      }
    }

    & > .divider {
      width: calc(100% + 80px);
    }
  }
}
