---
import Divider from "../components/Divider.astro";
import PageLink from "../components/PageLink.astro";
import Book from "../components/Book.astro";
import Layout from "../layouts/ArticleLayout.astro";

// meta open graph tags
const meta = {
  title: "teonite - Error 404",
  description: "Error 404",
  image: "github.com/teonite/teonite.github.io/raw/main/public/images/pages/home/teonite.png"
};
---

<Layout meta={meta} coverUrl="/images/pages/e404.webp">
  <header>
    <h1>Error 404 - Page not found</h1>
  </header>
  <Book text="Go to Homepage" href="https://teonite.com"/> 
</Layout>

<style lang="scss" is:global>
  main {
    padding: 0 !important;
  }
  article {
    margin: 0 auto !important;
    padding: 0 1vh 10vh 1vh !important;
  }
</style>
