---
import "@/styles/base/index.scss";
import Analitics from "./Analitics.astro";
import Cookies from "./Cookies.astro";
import Footer from "./Footer.astro";
import Navigation from "./Navigation.astro";
import { SEO } from "astro-seo";
import { metaOG, metaOGDefault } from "../types/meta";

interface Props {
  theme: string;
  // meta open graph tags
  meta?: {
      title: string;
      description: string;
      image: string;
  };
}

const { theme, meta } = Astro.props;
const parseMeta = meta ? metaOG.parse(meta) : metaOG.parse(metaOGDefault);
---

<!doctype html>
<html lang="en" data-theme={theme}>
  <head>
    <title>teonite — deeptech studio</title>
    
    <meta
      name="description"
      content={parseMeta.description}
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta property="og:title" content={parseMeta.title} />
    <meta property="og:description" content={parseMeta.description} />
    <meta property="og:image" content={"http://" + parseMeta.image} />
    <meta property="og:image:secure_url" content={"https://" + parseMeta.image} />
    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/
    apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/android-chrome-512x512.png"
    />

    <SEO
      canonical=""
    />
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
    <Footer />
    <Navigation />
    <Cookies />
    <Analitics />
  </body>
</html>
