<div class="management">
  <div class="manager">
    <div class="photo">
    </div>
    <div class="content">
      <div class="description">
        <h1>Robert Olejnik</h1>
        <h2>Security & Infrastructure</h2>
      </div>
      <div class="social">
        <a href="https://google.com">
          <img src="/svg/github-icon.svg" />
        </a>
        <a href="https://google.com">
          <img src="/svg/li-icon.svg" />
        </a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @use "@/styles/helpers" as *;

  .management {
    display: flex;
    justify-content: space-between;

    font-family: "PP Neue Machina";
    font-style: normal;
    font-weight: 400;

    .manager {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-S, 20px);
      height: 494px;
      width: 478px;
      padding: var(--spacing-S, 20px);
      border-radius: var(--spacing-S, 20px);
      background: var(--secondary-surfaces, #fff);

      .photo {
        width: 100%;
        min-height: 256px;

        background-image: url(/images/people/robert.png);
        background-position: 0px 40%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: var(--spacing-XS, 8px);

      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          h1 {
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 3.2px;
          }

          h2 {
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 2px;
          }
        }

        .social {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img svg {
            color: white;
          }
        }
      }
    }
  }
</style>
