@use "../helpers/" as *;

a {
  &.book {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    color: var(--main-text);
    border: 1px solid var(--main-text);
    outline: solid 0px var(--main-text);
    background-color: transparent;
    padding: var(--spacing-m) var(--spacing-xl);
    user-select: none;
    width: max-content;

    @include typography(paragraph);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      outline: solid 2px var(--main-text);
    }
  }
}
