@use "../helpers/" as *;

#trusted-by {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: var(--spacing-xl) 0;
  row-gap: 15px;

  & > p {
    @include typography(label);
    color: var(--main-text);
    padding-right: 10px;
  }

  & > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;

    row-gap: 15px;
    column-gap: 20px;

    @include media-breakpoint-up(xl) {
      column-gap: 50px;
    }

    & > li {
      display: block;
      height: 100%;
      width: 90px;
      overflow: hidden;
      & > a {
        cursor: pointer;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        img {
          height: auto;
          max-height: 100%;
          width: 90px;
          user-select: none;
        }
      }
    }
  }
}
