---
import WorkGroupLayout from "../../layouts/WorkGroupLayout.astro";
---

<WorkGroupLayout
  category="ai"
  title="Innovation in AI"
  pageCoverPath="/images/work/ai-cover.jpg"
>
  <p slot="description">
    Discover Our AI Solutions. Elevate your business with our advanced AI  products and expertise.
    From machine learning to natural language  processing, we provide tailored solutions to drive
    innovation and  success.
  </p>
</WorkGroupLayout>
