---
import WorkGroupLayout from "../../layouts/WorkGroupLayout.astro";
---

<WorkGroupLayout
  category="fintech"
  title="Innovation in Fintech"
  pageCoverPath="/images/work/fintech-cover.jpg"
>
  <p slot="description">
    Our expertise in Strategic Investment Portfolio Management is trusted by industry leaders
    such as Wärtsilä and Grupa Azoty. We've pioneered an NPL marketplace regulated by the European
    Bank Authority and launched a Swiss cryptocurrency exchange. Additionally, our software empowers
    T-Mobile with predictive analytics leveraging sensitive data and provides corporate clients with
    advanced liquidity forecasting. Explore our deep fintech capabilities.
  </p>
</WorkGroupLayout>
