---
import { getCollection } from "astro:content";
import Divider from "../../components/Divider.astro";
import WorkDisplayShort from "../../components/WorkDisplayShort.astro";
import DarkLayout from "../../layouts/DarkLayout.astro";

const workEntries = await getCollection("work");
// meta open graph tags
const meta = {
  title: "teonite - our work",
  description: "Deeptech studio crafting mission-critical software",
  image: "github.com/teonite/teonite.github.io/raw/main/public/images/pages/home/teonite.png"
};
---

<DarkLayout meta={meta}>
  <header>
    <h1>Our Work</h1>
  </header>
  <Divider />
  <div class="split">
    <section class="explain">
      <h2></h2>
      <p>
        In our pejects we've leveraged cutting edge technologies to deliver fastr and secure solutions across industries. Our portfolio spans projects for FinTech, Medtech and SpaceTech indsutries as well as Publishing and Media.
      </p>
    </section>
    <ul class="links">
      <li>
        <a href="/services/rust" data-astro-prefetch>
          <span>Rust Development</span>
        </a>
        <div class="arrow">→</div>
      </li>
      <li>
        <a href="/work/ai" data-astro-prefetch>
          <span>Artificial Intelligence</span>
        </a>
        <div class="arrow">→</div>
      </li>
      <li>
        <a href="/work/security" data-astro-prefetch>
          <span>Security</span>
        </a>
        <div class="arrow">→</div>
      </li>
      <li>
        <a href="/work/fintech" data-astro-prefetch>
          <span>Fintech</span>
        </a>
        <div class="arrow">→</div>
      </li>
    </ul>
  </div>
  <div class="entries">
    {workEntries.map((entry) => <WorkDisplayShort entry={entry} />)}
  </div>
</DarkLayout>

<style lang="scss" is:global>
  main {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-m);

    h1 {
      @include typography(main-header);
      color: var(--main-text);
      line-height: 1.15;
    }

    h2 {
      @include typography(sub-header);
      line-height: 1.5;
    }

    & > .divider {
      margin: var(--spacing-xl) 0 !important;
    }

    & > .split {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      gap: var(--spacing-s);
      color: var(--main-text);

      @include b-up(lg) {
        grid-template-columns: 1fr 1fr;
      }

      .explain {
        p {
          @include typography(paragraph);
          line-height: 1.5;
        }
      }

      .links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        row-gap: calc(var(--spacing-xs) * 2);
        width: 100%;

        li,
        a {
          @include typography(paragraph);
          line-height: 1.5;
          width: 100%;
        }

        span {
          display: block;
          width: 100%;
        }

        li {
          height: 72px;
          display: grid;
          grid-template-columns: 1fr 90px;
          border-bottom: 1px solid var(--main-text);
          box-sizing: border-box;
          position: relative;
          align-items: center;

          .arrow {
            color: var(--main-text);
            font-size: 48px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            transform: rotate(-45deg);
            transition-property: transform, right;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
          }

          &:hover {
            .arrow {
              transform: rotate(0deg);
            }
          }
        }

        a {
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          color: var(--main-text);

          &:hover {
            text-decoration: underline;
            text-decoration-color: var(--main-text);
          }
        }
      }
    }

    & > .entries {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: var(--spacing-s);
      row-gap: var(--spacing-l);
      padding-top: var(--spacing-l);

      @include b-up(lg) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
</style>
