---
import WorkGroupLayout from "../../layouts/WorkGroupLayout.astro";
import Divider from "../../components/Divider.astro";

---

<WorkGroupLayout
  category="security"
  title="Rust Development Outsourcing"
  pageCoverPath="/images/work/security-cover.jpg"
>
  <p slot="description">
    We help tech leader to build secure and scalable systems by leveraging Rust language superpowers.
  </p>

  <!-- <Divider slot="description"/>
  <header slot="description"><h2>iSec Partnership</h2></header>
  <Divider slot="description"/> -->

</WorkGroupLayout>
