---
import WorkGroupLayout from "../../layouts/WorkGroupLayout.astro";
---

<WorkGroupLayout
  category="security"
  title="Innovation in Security"
  pageCoverPath="/images/work/security-cover.jpg"
>
  <p slot="description">
    Explore Our Security Solutions. Transform your business with our cutting-edge security products and
    expertise. From threat detection to risk assessment, we deliver customized solutions to fortify your
    defenses and safeguard your assets.
  </p>
</WorkGroupLayout>
