---
import WorkGroupLayout from "../../layouts/WorkGroupLayout.astro";
import Divider from "../../components/Divider.astro";

---

<WorkGroupLayout
  category="security"
  title="Innovation in Security"
  pageCoverPath="/images/work/security-cover.jpg"
>
  <p slot="description">
    Explore Our Security Solutions. Transform your business with our cutting-edge security products and
    expertise. From threat detection to risk assessment, we deliver customized solutions to fortify your
    defenses and safeguard your assets.
  </p>

  <!-- <Divider slot="description"/>
  <header slot="description"><h2>iSec Partnership</h2></header>
  <Divider slot="description"/> -->

</WorkGroupLayout>
