---
import Root from "../components/Root.astro";
---

<Root theme="gray">
  <main>
    <div id="main-wrapper">
      <slot />
    </div>
  </main>
</Root>

<style lang="scss">
  main {
    background-color: var(--main-background);
    box-sizing: border-box;
    // padding: 45vh 16px 32px 16px;
    margin: 0 auto;
    max-width: 1600px;

    @include b-up(lg) {
      // padding: 34vh var(--spacing-xl) var(--spacing-xxl) var(--spacing-xl);
    }

    & > article {
      padding: 0vh 16px 32px 16px;

      @include b-up(lg) {
        padding: 0vh var(--spacing-xl) var(--spacing-xxl) var(--spacing-xl);
      }
    }

    & > .cover-wrapper {
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;

      img {
        width: 100%;
        height: 40vh;
        object-fit: cover;

        @include b-up(lg) {
          width: 100%;
          height: auto;
          max-height: 20vh;
        }
      }
    }
  }
</style>
