---
// import Dots from "../components/Dots.astro";
import WorkerDots from "../components/Dots/WorkerDots.astro";
import Root from "../components/Root.astro";

interface Props {
  // meta open graph tags
  meta?: {
    title: string;
    description: string;
    image: string;
  };
}

const { meta } = Astro.props;
---

<Root theme="dark" meta={meta}>
  <div id="main-background"></div>
  <!-- <Dots /> -->
  <WorkerDots />
  <div id="main-wrapper">
    <main>
      <slot />
    </main>
  </div>
</Root>

<style lang="scss">
  main {
    box-sizing: border-box;
    padding: 45vh 16px 32px 16px;
    margin: 0 auto;
    max-width: 1600px;

    @include b-up(lg) {
      padding: 34vh var(--spacing-xl) var(--spacing-xxl) var(--spacing-xl);
    }
  }
</style>
