@use "./bootstrap/" as *;

@mixin typography($value) {
  font-family: "PP Neue Machina";
  font-weight: 400;

  @if $value == "main-header" {
    font-size: calc(32px * var(--fonts-scale));
    line-height: 1.15;
    @include media-breakpoint-up(lg) {
      font-size: calc(90px * var(--fonts-scale));
    }
  }

  @if $value == "sub-header" {
    font-size: calc(20px * var(--fonts-scale));
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: calc(48px * var(--fonts-scale));
    }
  }

  @if $value == "section-title" {
    font-size: calc(24px * var(--fonts-scale));
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: calc(64px * var(--fonts-scale));
    }
  }

  @if $value == "paragraph" {
    font-size: calc(16px * var(--fonts-scale));
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: calc(32px * var(--fonts-scale));
    }
  }

  @if $value == "label" {
    font-size: calc(12px * var(--fonts-scale));
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: calc(20px * var(--fonts-scale));
    }
  }
}
