@use '../helpers/' as *;

$primary-black: #000;
$primary-tntOrange: #ff6400;
$primary-white: #fff;
$secondary-tntGrey: #ddd;
$secondary-tntViolet: #6400ff;
$secondary-tntBlue: #0064ff;
$secondary-tntMagenta: #ff0064;
$secondary-tntGreen: #00ff64;

[data-theme=#{"dark"}] {
  --main-text: #{$primary-white};
  --main-background: #{$primary-black};
  --secondary-surfaces: #{$secondary-tntGrey};
}

[data-theme=#{"gray"}] {
  --main-text: #{$primary-black};
  --main-background: #{$secondary-tntGrey};
  --secondary-surfaces: #{$primary-white};
}

// shared
html {
  // font scaling factor
  --fonts-scale: 1.2;
  // spacings
  --spacing-xs: 4px;
  --spacing-s: 10px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;

  @include b-up(lg) {
    --fonts-scale: 0.8;
    --spacing-xs: 8px;
    --spacing-s: 20px;
    --spacing-m: 32px;
    --spacing-l: 48px;
    --spacing-xl: 64px;
    --spacing-xxl: 128px;
  }

  @include media-breakpoint-down(sm) {
    --fonts-scale: 1;
  }

  @include b-up(xxl) {
    --fonts-scale: 1;
  }

  // colors
  --primary-black: #{$primary-black};
  --tnt-orange: #{$primary-tntOrange};
}